<!DOCTYPE html>
<html lang="en">

<head>
    <title>Help</title>
    <link rel="icon" href="/img/we.webp">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p id="help-message-text">To use the <b>Weather App</b> ,<br>
        simply type the name of a city in the search bar and hit the "search" button.<br>
        The weather information for the city will be displayed to you.<br>
        Enjoy ❤<br>
        </p>
    </div>

    {{>footer}}
</body>

</html>